<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>安睡有氧</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>安睡有氧</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.snoring.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snoringapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FDAllFilesDownloadedMessage</key>
	<string>All files have been downloaded</string>
	<key>FDMaximumConcurrentTasks</key>
	<integer>5</integer>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixinURLParamsAPI</string>
		<string>weixinULAPI</string>
		<string>weixin</string>
		<string>wechat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>com.snoring.app</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>是否允许此APP使用相机，以便拍摄照片上传头像等？</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>访问蓝牙权限以用于设备数据读取和发送</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>访问蓝牙权限以用于设备数据读取和发送</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>是否允许此APP访问文件，以便上传音视频等？</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>是否允许此app访问您的位置以便为您选择城市？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>是否允许此app访问您的位置以便为您选择城市？</string>
	<key>NSLocationAlwaysUsageDescription</key>
    <string>是否允许此app访问您的位置以便为您选择城市?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>安睡有氧需要您的同意才能访问麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许此APP访问相册，以便上传头像等？</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>安睡有氧需要您的同意才能访问麦克风</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
