<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>com.snoring.app</string>
		<string>/*</string>
		<string>applinks:dev-hz.51shanjian.cn//apple-app-site-association/*</string>
	</array>
</dict>
</plist>
